.item-product {
    margin:10px;
    text-align: center;
}

img {
    object-fit: contain;
}

img div {
    height: 100px;
    text-align: center;
}

.MuiCardContent-root .css-46bh2p-MuiCardContent-root{
    height: 100px;
}