*{
    margin: 0;
    padding: 0;
  }
  
 .card {
      background-color: gainsboro;
    }
  
  .card-actions {
      text-align: center;
    }

    .item-detail {
      text-align: center;

    }

    div {
      justify-content: center;
    }

    .button{
      margin:5px;
      border-color: slategray;
      border-width: 1px;
    }