

.text-link {
    color: inherit;
    text-decoration: inherit;
    text-align: center;
}

a {
    margin: 0px;
}


Button {
    display: flex;
    justify-content: space-around;
    margin:10px;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #969696;
    margin: 20px 40px;
    padding: 5px;
    background-color: white;
}

.button-container div{
display: block;
text-align: center;
}